pugs/login-form.pug
doctype html
html(lang='ru')
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Login Form
        link(rel="stylesheet" href="css/style.css")
    .wrapper.login-page.text-color-white
        .container
            .login-page__content.text--center
                .logo: img(src="img/logo.svg" alt="")
                form(action="#")
                    .login-form
                        .h3.font-700 Login Form
                        .input-wrapper
                            input(type="text" placeholder="Username").input
                        .input-wrapper
                           input(type="password" placeholder="Password").input
                        .login-form__row.d-flex.justify-space-between.align-center
                            .checkbox
                                input(type="checkbox" id="ch-1" checked)
                                label(for="ch-1") Remember Me
                            a(href="#").text-color-red.font-700.forgot-link Forgot Password?
                        input(type="submit" value="Login").btn.btn--red-gradient.btn--full-width.text-uppercase

                        .signup-block
                           p Don’t Have an Account?
                           a(href="#").btn.btn--grey.btn--large.text-uppercase Sign Up
                           p If you need help or encounter problems <br>Email: <a href="mailto:">admin@shemalecanada.com</a>

            .login-page__bottom
                .h3.font-700.text--center.mb-2 Our Network
                ul.login-page__menu.d-flex.flex-wrap.justify-center
                    li: a(href="#") TS-Dating.com
                    li: a(href="#") Londonts.com
                    li: a(href="#") Niamodel.com
                    li: a(href="#") Riorelax.com.br
                    li: a(href="#") Bonecasrelax.com
                    li: a(href="#") Tgirlforums.com
                    li: a(href="#") Transexinfo.com

html/login-form.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <div class="wrapper login-page text-color-white">
    <div class="container">
      <div class="login-page__content text--center">
        <div class="logo"><img src="img/logo.svg" alt=""></div>
        <form action="#">
          <div class="login-form">
            <div class="h3 font-700">Login Form</div>
            <div class="input-wrapper">
              <input class="input" type="text" placeholder="Username">
            </div>
            <div class="input-wrapper">
              <input class="input" type="password" placeholder="Password">
            </div>
            <div class="login-form__row d-flex justify-space-between align-center">
              <div class="checkbox">
                <input type="checkbox" id="ch-1" checked>
                <label for="ch-1">Remember Me</label>
              </div><a class="text-color-red font-700 forgot-link" href="#">Forgot Password?</a>
            </div>
            <input class="btn btn--red-gradient btn--full-width text-uppercase" type="submit" value="Login">
            <div class="signup-block">
              <p>Don’t Have an Account?</p><a class="btn btn--grey btn--large text-uppercase" href="#">Sign Up</a>
              <p>If you need help or encounter problems <br>Email: <a href="mailto:">admin@shemalecanada.com</a></p>
            </div>
          </div>
        </form>
      </div>
      <div class="login-page__bottom">
        <div class="h3 font-700 text--center mb-2">Our Network</div>
        <ul class="login-page__menu d-flex flex-wrap justify-center">
          <li><a href="#">TS-Dating.com</a></li>
          <li><a href="#">Londonts.com</a></li>
          <li><a href="#">Niamodel.com</a></li>
          <li><a href="#">Riorelax.com.br</a></li>
          <li><a href="#">Bonecasrelax.com</a></li>
          <li><a href="#">Tgirlforums.com</a></li>
          <li><a href="#">Transexinfo.com</a></li>
        </ul>
      </div>
    </div>
  </div>
</html>
