html/includes/banners.html

<div class="banners">
  <div class="container">
    <div class="banners-slider">
      <div class="banner-slide">
        <div class="banner-slide__content"><img src="img/banner-1.png" alt=""/></div>
      </div>
      <div class="banner-slide">
        <div class="banner-slide__content"><img src="img/banner-2.png" alt=""/></div>
      </div>
    </div>
  </div>
</div>

pugs/includes/banners.pug
.banners
    .container
        .banners-slider
            .banner-slide
                .banner-slide__content
                    img(src="img/banner-1.png" alt="")
            .banner-slide
                .banner-slide__content
                    img(src="img/banner-2.png" alt="")
