html/includes/header.html

<div class="header d-flex justify-space-between">
  <div class="header__left d-flex align-center">
    <div class="burger"><span></span><span></span><span></span></div><a class="logo" href="#"><img src="img/logo.svg" alt=""/></a>
  </div>
  <div class="header__nav d-flex">
    <div class="header__nav__container d-flex justify-center">
      <!-- .header-actions for mobile-->
      <div class="header-actions d-flex align-center for-mobile"><a class="search-btn js--open-search text-color-white hidden-tablet" href="#"><span class="icon">
            <svg>
              <use xlink:href="#svg-search"></use>
            </svg></span></a><a class="btn btn--transparent mx-2 btn--short" href="#">Login</a><a class="btn btn--red-gradient" href="#">Sign Up</a></div>
      <ul class="menu d-flex">
        <li class="submenu__parent"><a href="#">Shemale Escorts</a>
          <ul class="submenu">
            <li><a href="#">New Escorts</a></li>
            <li><a href="#">Search</a></li>
            <li><a href="#">Comments</a></li>
            <li><a href="#">Visiting Escorts</a></li>
          </ul>
        </li>
        <li><a href="#">Videos</a></li>
        <li><a href="#">Webcams</a></li>
        <li><a href="#">Reviews</a></li>
        <li><a href="#">Links</a></li>
        <li><a href="#">Advertise</a></li>
        <li><a href="#">Forum</a></li>
      </ul>
      <div class="search-form">
        <form action="#">
          <input class="search-input" type="search" placeholder="Search..."/>
          <button class="search-submit" type="submit"><span class="icon">
              <svg>
                <use xlink:href="#svg-search"></use>
              </svg></span></button>
        </form>
      </div>
      <!-- for mobile-->
      <div class="close-menu for-tablet"><span class="icon text-color-white">
          <svg>
            <use xlink:href="#svg-close"></use>
          </svg></span></div>
    </div>
  </div>
  <div class="header-actions d-flex align-center hidden-mobile"><a class="search-btn js--open-search text-color-white hidden-tablet" href="#"><span class="icon">
        <svg>
          <use xlink:href="#svg-search"></use>
        </svg></span></a><a class="btn btn--transparent mx-2 btn--short" href="#">Login</a><a class="btn btn--red-gradient" href="#">Sign Up</a></div>
</div>

pugs/includes/header.pug
.header.d-flex.justify-space-between
    .header__left.d-flex.align-center
        .burger
            span
            span
            span
        a(href="#").logo
            img(src="img/logo.svg" alt="")
    .header__nav.d-flex
        .header__nav__container.d-flex.justify-center
            // .header-actions for mobile
            .header-actions.d-flex.align-center.for-mobile
                a(href="#").search-btn.js--open-search.text-color-white.hidden-tablet
                    span.icon
                        svg
                            use(xlink:href="#svg-search")
                a(href="#").btn.btn--transparent.mx-2.btn--short Login
                a(href="#").btn.btn--red-gradient Sign Up

            ul.menu.d-flex
                li.submenu__parent
                    a(href="#") Shemale Escorts
                    ul.submenu
                        each name in ['New Escorts', 'Search', 'Comments', 'Visiting Escorts']
                            li
                                a(href="#")= name
                each name in ['Videos', 'Webcams', 'Reviews', 'Links', 'Advertise', 'Forum']
                    li
                        a(href="#")= name
            .search-form
                form(action="#")
                    input(type='search' placeholder='Search...').search-input
                    button(type="submit").search-submit
                        span.icon
                            svg
                                use(xlink:href="#svg-search")
            // for mobile
            .close-menu.for-tablet
                span.icon.text-color-white
                    svg
                        use(xlink:href="#svg-close")
    .header-actions.d-flex.align-center.hidden-mobile
        a(href="#").search-btn.js--open-search.text-color-white.hidden-tablet
            span.icon
                svg
                    use(xlink:href="#svg-search")
        a(href="#").btn.btn--transparent.mx-2.btn--short Login
        a(href="#").btn.btn--red-gradient Sign Up
