pugs/includes/main_slider.pug
.main-slider-container
    .main-slider
        .main-slide
            .main-slide__item
                img(src="img/main_slide_1.jpg" alt="").main-slide__item__img
                .container
                    .main-slide__item__content
                        .slide__title Lipsum Dolor
                        .slide__subtitle Sed tincidunt aliquam mauris
                        .slide__descr.
                            Maecenas eu nisi sit amet eros tempus maximus. <br />Sed lectus massa, mattis quis maximus at!
                        a(href="#").btn.btn--red-gradient View more
        .main-slide
            .main-slide__item
                img(src="img/main_slide_1.jpg" alt="").main-slide__item__img
                .container
                    .main-slide__item__content
                        .slide__title Another Text
                        .slide__subtitle Lorem ipsum dolor sit amet.
                        .slide__descr.
                            Maecenas eu nisi sit amet eros tempus maximus. <br />Sed lectus massa, mattis quis maximus at!
                        a(href="#").btn.btn--red-gradient View more
        .main-slide
            .main-slide__item
                img(src="img/main_slide_1.jpg" alt="").main-slide__item__img
                .container
                    .main-slide__item__content
                        .slide__title Vanilla guy
                        .slide__subtitle Sed tincidunt aliquam mauris
                        .slide__descr.
                            Maecenas eu nisi sit amet eros tempus maximus. <br />Sed lectus massa, mattis quis maximus at!
                        a(href="#").btn.btn--red-gradient View more
    .main-slider__arrows

html/includes/main_slider.html

<div class="main-slider-container">
  <div class="main-slider">
    <div class="main-slide">
      <div class="main-slide__item"><img class="main-slide__item__img" src="img/main_slide_1.jpg" alt=""/>
        <div class="container">
          <div class="main-slide__item__content">
            <div class="slide__title">Lipsum Dolor</div>
            <div class="slide__subtitle">Sed tincidunt aliquam mauris</div>
            <div class="slide__descr">Maecenas eu nisi sit amet eros tempus maximus. <br />Sed lectus massa, mattis quis maximus at!</div><a class="btn btn--red-gradient" href="#">View more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="main-slide">
      <div class="main-slide__item"><img class="main-slide__item__img" src="img/main_slide_1.jpg" alt=""/>
        <div class="container">
          <div class="main-slide__item__content">
            <div class="slide__title">Another Text</div>
            <div class="slide__subtitle">Lorem ipsum dolor sit amet.</div>
            <div class="slide__descr">Maecenas eu nisi sit amet eros tempus maximus. <br />Sed lectus massa, mattis quis maximus at!</div><a class="btn btn--red-gradient" href="#">View more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="main-slide">
      <div class="main-slide__item"><img class="main-slide__item__img" src="img/main_slide_1.jpg" alt=""/>
        <div class="container">
          <div class="main-slide__item__content">
            <div class="slide__title">Vanilla guy</div>
            <div class="slide__subtitle">Sed tincidunt aliquam mauris</div>
            <div class="slide__descr">Maecenas eu nisi sit amet eros tempus maximus. <br />Sed lectus massa, mattis quis maximus at!</div><a class="btn btn--red-gradient" href="#">View more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-slider__arrows"></div>
</div>
