pugs/includes/pagination.pug
ul.pagination.d-flex.justify-center.flex-wrap
    li
        a(href="#").prev-page
            span.icon.mr-1
                svg
                    use(xlink:href="#svg-arrow-left")
            span.text.text-uppercase Previous
    each number in ['1', '2', '3', '4', '5', '6', '7', '8']
        li
            a(href="#" class = number === '2' ? 'active' : '')= number
    li
        a(href="#").next-page
            span.text.text-uppercase Next
            span.icon.ml-1
                svg
                    use(xlink:href="#svg-arrow-right")

html/includes/pagination.html

<ul class="pagination d-flex justify-center flex-wrap">
  <li><a class="prev-page" href="#"><span class="icon mr-1">
        <svg>
          <use xlink:href="#svg-arrow-left"></use>
        </svg></span><span class="text text-uppercase">Previous</span></a></li>
  <li><a href="#">1</a></li>
  <li><a class="active" href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">6</a></li>
  <li><a href="#">7</a></li>
  <li><a href="#">8</a></li>
  <li><a class="next-page" href="#"><span class="text text-uppercase">Next</span><span class="icon ml-1">
        <svg>
          <use xlink:href="#svg-arrow-right"></use>
        </svg></span></a></li>
</ul>
